@import "src/assets/variables";


.link {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.4em;
}

.github {
  vertical-align: text-bottom;

  & svg {
    margin-bottom: 0;
    width: 1em;
    height: 1em;
  }
}
