@import "src/assets/variables";

.description {
  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: black;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    &_open {
      -webkit-line-clamp: initial;
      line-clamp: initial;
    }
  }

  &__btn {
    display: inline-block;
    margin-left: auto;
    padding: 0;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
