@import "../../../assets/variables";

.button {
  position: relative;
  display: inline-block;
  padding: 0.25em 1em;
  cursor: pointer;

  white-space: nowrap;
  text-align: center;
  line-height: 1.5715;
  font-weight: 400;

  border: 1px solid #E5E8EB;
  box-sizing: border-box;
  box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
  outline: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);


  &_default {
    background: white;

    &:focus {
      color: $colorAzure;
      box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5), inset 0px 0px 20px 5px rgba(105, 105, 105, 0.2);
    }

    &:hover {
      color: $colorAzure;
    }
  }

  &_primary {
    color: white;
    background: $colorAzure;

    &:focus {
      background: #4CA3FF;
      box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5), 0px 0px 20px 5px rgba(105, 105, 105, 0.2);
    }

    &:hover {
      background: #4CA3FF;
    }
  }

  &_danger {
    color: $colorAlert;
    background: white;
    border: 1px solid $colorAlert;

    &:focus {
      color: white;
      background: $colorAlert;
      box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5), 0px 0px 20px 5px rgba(105, 105, 105, 0.2);
    }

    &:hover {
      color: white;
      background: $colorAlert;
    }
  }

  &:disabled {
    color: $colorSecondary;
    background: #ccc;
    cursor: not-allowed;
  }
}


