@import "../../assets/variables";


.repository:first-child {
  margin-top: 20px;
  padding: 20px 50px;


}


.statistics {

  &__cloneUrl {
    margin-top: 20px;
  }

  &__main {
    width: calc(max(50%, 400px));
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
    margin-bottom: 25px;

    border-bottom: 1px solid $colorSecondary;
    font-size: 1.5em;

    &Item {
      display: flex;
      justify-content: space-between;
    }

    &Title {
      text-decoration: underline;
    }

    &Value {
      color: $colorAzure;
    }
  }

  &__addInfo {
    font-size: 1.2em;
    margin-bottom: 80px;
  }
}

