@import "../../assets/variables";

//todo: пока стили тяп ляп для виду, позже переделать
@mixin block () {
  box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
  border-radius: 5px;
  padding: 20px 50px;
  overflow: hidden;
}

.repository {
  align-self: stretch;
  margin-top: 20px;
  @include block();


  &__statsWrapperData{
    @include block();
  }

  & h2,& h3, & h4 {
    margin-bottom: 20px;
  }

}

.owner {
  @include block;
  margin: 20px 0;
  font-size: 30px;

  &__img {
    width: 50%;
  }
}


.block {
  margin: 20px 0;
  @include block();
}
