@import "src/assets/variables";

.filters {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;


  &__twoInOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__flexItem {
    flex: 1 1 auto;
  }
}
