@import "../../assets/variables";

.wrapper {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  background: white;
}

.container {
  @include container;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
