@import "../../../../../assets/variables";

.contributors {
  margin-bottom: 50px;

  &__items {
    padding: 10px;
    max-height: 200px;
    overflow: auto;
  }

  &__iconLink {
    & svg {
      width: 1em;
      height: 1em;
    }
  }

}
