@import "../../../assets/variables";

.auth {
  &__hrefToken {
    color: $colorAzure;
    font-size: 1.4em;
    font-weight: 600;
    align-self: start;

    &:hover {
      color: rgba($colorAzure, 0.5);
    }

  }

  &__btn {
    font-size: 1.2em;

    & span {
      position: relative;
    }
  }

  &__loading {
    position: absolute;
    right: -1.4em;
    top: 0;
    height: 100%;
    width: 1.3em;
  }

  &__error {
    height: 1.1em;
    color: $colorAlert;
    font-weight: 600;
    font-size: 1.1em;
  }
}

