@import "../../assets/variables";

.auth {


  &__hrefToken {
    color: white;
    align-self: start;
  }

  &__input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  &__inputError{
    position: absolute;
    right: 0;
    top: 0;
    color: red;
  }
}

