@import "../../assets/variables";

.auth {
  &__hrefToken {
    color: white;
    align-self: start;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__inputError {
    height: 1cm;
    color: red;
  }
}

