@import "../../assets/variables";

.repositories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    justify-items: start;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: 40px;
    justify-content: space-between;
  }
}


.repository {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;

  &__name {
    font-size: 1.5em;

    & a {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    &Text {
      flex: 0 1 auto;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    &Svg {
      & svg {
        width: 1em;
        height: 1em;
      }
    }
  }

  &__owner {

    &Name {
      font-size: 1.3em;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &Img {
      border: 4px $colorAzure solid;
      border-radius: 50%;
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  &__item {
    font-size: 1.2em;
    padding: 8px;

    & + .repository__item {
      border-top: 1px solid $colorAzure;
    }

    &:last-child {
      margin-top: auto;
    }
  }


  &__btnClone {
    font-size: 1.2em;
    width: 100%;
    margin-top: auto;
  }

}
