@import "../../assets/variables";

.repositories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;



  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: start;
    gap: 20px;
    column-gap: 40px;
    justify-content: space-between;
    @media (max-width: 800px) {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    &_list{
      display: flex;
      flex-direction: column;
    }
  }
}


.repository {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  &__data{
    padding: 0.6em;
  }

  &_list{
    max-width: none;
  }

  &__name {
    font-size: 1.8em;
    &Links {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    &Text {
      flex: 0 1 auto;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &Svg {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & svg {
        margin-bottom: -0.1em;
        width: 1em;
        height: 1em;
      }
    }
  }

  &__owner {
    display: flex;
    justify-content: space-between;
    &Name {
      overflow: hidden;
      font-size: 1.3em;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &Img {
      border: 4px $colorAzure solid;
      border-radius: 50%;
      width: 4em;
      height: 4em;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  &__item {
    font-size: 1.2em;
    padding: 8px;

    & + .repository__item {
      border-top: 1px solid $colorAzure;
    }

    &:last-child {
      margin-top: auto;
    }
  }


  &__btnClone {
    font-size: 1.2em;
    width: 100%;
    margin-top: auto;

    &Icon {
      margin-right: .1em;
    }
  }

}
